- name: Configure Kubernetes cluster
  hosts: control-node
  become: yes
  gather_facts: yes

  tasks:
    - name: Install dependencies for Helm
      ansible.builtin.apt:
        name: [wget, tar]
        state: present
        update_cache: yes

    - name: Download Helm
      ansible.builtin.get_url:
        url: https://get.helm.sh/helm-v3.18.3-linux-amd64.tar.gz
        dest: /tmp/helm.tar.gz
        mode: '0644'

    - name: Extract Helm
      ansible.builtin.unarchive:
        src: /tmp/helm.tar.gz
        dest: /tmp
        remote_src: yes

    - name: Move Helm binary
      ansible.builtin.command: mv /tmp/linux-amd64/helm /usr/local/bin/helm
      args:
        creates: /usr/local/bin/helm
      become: yes

    - name: Install Cillium CNI
      ansible.builtin.shell: |
          export KUBECONFIG=/etc/rancher/k3s/k3s.yaml
          CILIUM_CLI_VERSION=$(curl -s https://raw.githubusercontent.com/cilium/cilium-cli/main/stable.txt)
          CLI_ARCH=amd64
          if [ "$(uname -m)" = "aarch64" ]; then CLI_ARCH=arm64; fi
          curl -L --fail --remote-name-all https://github.com/cilium/cilium-cli/releases/download/${CILIUM_CLI_VERSION}/cilium-linux-${CLI_ARCH}.tar.gz{,.sha256sum}
          sha256sum --check cilium-linux-${CLI_ARCH}.tar.gz.sha256sum
          sudo tar xzvfC cilium-linux-${CLI_ARCH}.tar.gz /usr/local/bin
          rm cilium-linux-${CLI_ARCH}.tar.gz{,.sha256sum}
          cilium install --version 1.18.1 --set=ipam.operator.clusterPoolIPv4PodCIDRList="10.42.0.0/16"

    - name: Label worker nodes
      ansible.builtin.shell: |
        kubectl label node media-node role=media
        kubectl label node cloud-node role=cloud
        kubectl label node network-node role=network

    - name: Install ingress-nginx
      ansible.builtin.shell: |
        helm --kubeconfig=/home/ubuntu/.kube/config upgrade --install ingress-nginx ingress-nginx \
        --repo https://kubernetes.github.io/ingress-nginx \
        --namespace ingress-nginx --create-namespace \
        --set controller.nodeSelector."kubernetes\.io/hostname"=network-node

    - name: Install Longhorn
      ansible.builtin.shell: kubectl --kubeconfig=/home/ubuntu/.kube/config apply -f https://raw.githubusercontent.com/longhorn/longhorn/v1.8.1/deploy/longhorn.yaml

    - name: Enable kubectl autocompletion for ubuntu
      ansible.builtin.shell: |
        echo 'source <(kubectl --kubeconfig=/home/ubuntu/.kube/config completion bash)' >> /home/ubuntu/.bashrc
      args:
        executable: /bin/bash
      become: yes
      become_user: ubuntu
