apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich # radarr for example
  namespace: immich
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 5Gi
