
- name: Setup K3s on Control Node
  hosts: control-node
  become: yes
  gather_facts: yes

  tasks:
    - name: Install K3s
      ansible.builtin.shell: |
        curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="--disable=traefik --flannel-backend=none --write-kubeconfig-mode=644" sh -
      args:
        executable: /bin/bash
      register: k3s_install_result
      ignore_errors: no

    - name: Check K3s service is active
      ansible.builtin.systemd:
        name: k3s
        state: started
        enabled: yes
      register: k3s_service
      retries: 10
      delay: 10
      until: k3s_service.status.ActiveState == "active"

    - name: Get K3s node token
      ansible.builtin.command: cat /var/lib/rancher/k3s/server/node-token
      register: k3s_token_cmd
      changed_when: false

    - name: Save control-plane info globally
      ansible.builtin.add_host:
        name: k3s_master
        k3s_control_node_ip: "{{ ansible_host }}"
        k3s_token: "{{ k3s_token_cmd.stdout }}"

    - name: Ensure .kube directory exists for ubuntu
      ansible.builtin.file:
        path: /home/ubuntu/.kube
        state: directory
        owner: ubuntu
        group: ubuntu
        mode: '0755'

    - name: Copy kubeconfig to ubuntu home
      ansible.builtin.copy:
        src: /etc/rancher/k3s/k3s.yaml
        dest: /home/ubuntu/.kube/config
        owner: ubuntu
        group: ubuntu
        mode: '0644'
        remote_src: yes

    - name: Show master IP and token
      ansible.builtin.debug:
        msg:
          - "Master IP: {{ ansible_host }}"
          - "K3s Token: {{ k3s_token_cmd.stdout }}"

    - name: Enable kubectl autocompletion for ubuntu
      ansible.builtin.shell: |
        echo 'source <(kubectl --kubeconfig=/home/ubuntu/.kube/config completion bash)' >> /home/ubuntu/.bashrc
      args:
        executable: /bin/bash
      become: yes
      become_user: ubuntu

- name: Join Worker Nodes to K3s Cluster
  hosts: media-node, cloud-node, network-node
  become: yes
  tasks:

    - name: Join cluster
      ansible.builtin.shell: |
        curl -sfL https://get.k3s.io | \
        K3S_URL=https://{{ hostvars['k3s_master']['k3s_control_node_ip'] }}:6443 \
        K3S_TOKEN={{ hostvars['k3s_master']['k3s_token'] }} sh -
      args:
        executable: /bin/bash

