apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: filebrowser # radarr for example
  namespace: filebrowser
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 5Gi
