apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: glance # radarr for example
  namespace: glance
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 5Gi
